<!doctype html>
<html>

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <title>Dashboard </title>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

   <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
   <!--Totally optional :) -->



   <link rel="stylesheet" href="/main.css">

   <link rel="stylesheet" href="/app.min.css">

   <link rel="icon" type="image/jpg" href="/image/logo.jpg">


</head>

<body>


   <main id="dashboard" class="bg-gray-800 font-sans leading-normal tracking-normal mt-12">

      <!--Nav-->
      <nav class="bg-gray-800 pt-2 md:pt-1 pb-1 px-1 mt-0 h-auto fixed w-full z-20 top-0">

         <div class="flex flex-wrap items-center">
            <div class="flex flex-shrink md:w-1/3 justify-center md:justify-start text-white">
               <a href="">
                  <span class="text-xl pl-2">

                     Mcoin
                  </span>
               </a>
            </div>

            <div class="flex flex-1 md:w-1/3 justify-center md:justify-start text-white px-2">
               <span class="relative w-full">

               </span>
            </div>

            <div class="flex w-full pt-2 content-center justify-between md:w-1/3 md:justify-end">
               <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
                  <li class="flex-1 md:flex-none md:mr-3">
                     <a v-on:click.prevent="showMoney()" class="inline-block py-2 px-4 text-white no-underline"
                        href="" >Balance : {{ showmoney ? balance.coin : balance.coin * prices.val }} {{ showmoney ?
                        "Mcoin" : "$" }}</a>
                  </li>
                  <li class="flex-1 md:flex-none md:mr-3">
                     <div class="relative inline-block">
                        <button onclick="toggleDD('myDropdown')" class="drop-button text-white focus:outline-none">
                           <span class="pr-2"></span> Hi, {{user.username}} <svg class="h-3 fill-current inline"
                              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                           </svg></button>
                        <div id="myDropdown"
                           class="dropdownlist absolute bg-gray-800 text-white right-0 mt-3 p-3 overflow-auto z-30 invisible">
                           <a href="#" v-on:click.prevent="switchCase('profile')" class
                              class="p-2 hover:bg-gray-800 text-white text-sm no-underline hover:no-underline block"><i
                                 class="fa fa-user fa-fw"></i> Profile</a>
                           <div class="border border-gray-800"></div>
                           <a href="/logout"
                              class="p-2 hover:bg-gray-800 text-white text-sm no-underline hover:no-underline block"><i
                                 class="fas fa-sign-out-alt fa-fw"></i> Log Out</a>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
         </div>

      </nav>


      <div class="flex flex-col md:flex-row">

         <div class="bg-gray-800 shadow-xl h-16 fixed bottom-0 mt-12 md:relative md:h-screen z-10 w-full md:w-48">

            <div
               class="md:mt-12 md:w-48 md:fixed md:left-0 md:top-0 content-center md:content-start text-left justify-between">
               <ul class="list-reset flex flex-row md:flex-col py-0 md:py-3 px-1 md:px-2 text-center md:text-left">
                  <li class="mr-3 flex-1">
                     <a href="/Dashboard" v-on:click.prevent="switchCase('dash')"
                        class="block py-1 md:py-3 pl-1 align-middle text-white no-underline text-white border-b-2 border-gray-800 border-pink-500">
                        <i class="fas fa-tasks pr-0 md:pr-3 text-white"></i><span
                           class="pb-1 md:pb-0 text-xs md:text-base text-white block md:inline-block">Dashboard</span>
                     </a>
                     


                  </li>
                  <li class="mr-3 flex-1">
                     <a href="/wallet"
                        class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800  hover:border-red-600">
                        <i class="fa fa-wallet pr-0 md:pr-3 text-gray-400"></i> <span
                           class="pb-1 md:pb-0 text-xs md:text-base text-gray-400 block md:inline-block">Wallet</span>
                     </a>
                  </li>
                  <li class="mr-3 flex-1">

                     <a href="/trade" 
                        class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-purple-500">
                        <i class="fas fa-chart-area pr-0 md:pr-3 text-gray-400"></i> <span
                           class="pb-1 md:pb-0 text-xs md:text-base text-white md:text-gray-400 block  block md:inline-block">Trade</span>
                     </a>

                  </li>
                  <li class="mr-3 flex-1">
                     <a href="/Transaction" v-on:click.prevent="switchCase('trans')"
                        class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800  hover:border-blue-600">
                        <i class="fa fa-wallet pr-0 md:pr-3 text-gray-400"></i> <span
                           class="pb-1 md:pb-0 text-xs md:text-base text-gray-400 block md:inline-block">Transaction</span>
                     </a>
                  </li>
               </ul>
            </div>


         </div>

         <div class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">

            <div class="bg-gray-800 pt-3">
               <div class="rounded-tl-3xl bg-gradient-to-r from-blue-600 to-blue-400 p-4 shadow text-2xl text-white">

                  <h3 class="font-bold pl-2">Dashboard</h3>



               </div>
            </div>

            <div>
               <main>
                  <div class="pt-6 px-4">

                     <div class="mt-4 w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
                        <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
                           <div class="flex items-center">
                              <div class="flex-shrink-0">
                                 <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">{{balance.coin}}</span>
                                 <h3 class="text-base font-normal text-gray-500">In balance</h3>
                              </div>
                              <div
                                 class="ml-5 w-0 flex items-center justify-end flex-1 text-green-500 text-base font-bold">
                                 {{balance.change}}%
                                 <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                       d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z"
                                       clip-rule="evenodd"></path>
                                 </svg>
                              </div>
                           </div>
                        </div>
                        <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
                           <div class="flex items-center">
                              <div class="flex-shrink-0">
                                 <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">{{prices.val}}</span>
                                 <h3 class="text-base font-normal text-gray-500">Current Price</h3>
                              </div>
                              <div
                                 class="ml-5 w-0 flex items-center justify-end flex-1 text-green-500 text-base font-bold">
                                 {{prices.change}}%
                                 <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                       d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z"
                                       clip-rule="evenodd"></path>
                                 </svg>
                              </div>
                           </div>
                        </div>
                        <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
                           <div class="flex items-center">
                              <div class="flex-shrink-0">
                                 <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">{{orders.length}}</span>
                                 <h3 class="text-base font-normal text-gray-500">Active Orders</h3>
                              </div>
                              <div
                                 class="ml-5 w-0 flex items-center justify-end flex-1 text-red-500 text-base font-bold">
                                 0.0%
                                 <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                       d="M14.707 12.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l2.293-2.293a1 1 0 011.414 0z"
                                       clip-rule="evenodd"></path>
                                 </svg>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="grid grid-cols-1 2xl:grid-cols-2 xl:gap-4 my-4">
                        <div class="bg-white shadow rounded-lg  mb-10 p-4 sm:p-6 lg:h-full xl:h-full">
                           <div class="flex items-center justify-between mb-4">
                              <h3 class="text-xl font-bold leading-none text-gray-900">Latest Transactions</h3>
                              <a href="#"
                                 class="text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg inline-flex items-center p-2">
                                 View all
                              </a>
                           </div>
                           <div class="flow-root">
                              <ul role="list" class="divide-y divide-gray-200">
                                 <li v-for="(transfer,i) in transfers.slice(0, 20)" :key="i" 
                                 class="py-3 sm:py-4">
                                    <div class="flex items-center space-x-4">
                                       <div class="flex-shrink-0">
                                          <div class="m-1 mr-2 w-12 h-12 relative flex justify-center items-center rounded-full bg-blue-500 text-xl text-white uppercase">{{transfer.Initiator.substr(0, 2)}}</div>

                                       </div>
                                       <div class="flex-1 min-w-0">
                                          <p class="text-sm font-medium text-gray-900 truncate">
                                            {{ transfer.Initiator }}
                                          </p>
                                          <p class="text-sm text-gray-500 truncate">
                                             <!-- <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="17727a767e7b57607e7973646372653974787a">[email&#160;protected]</a> -->
                                             {{getDate(transfer.date)}}
                                          </p>
                                       </div>
                                       <div v-if="CreditSign(transfer.credit)"
                                          class="ml-5 w-0 flex items-center justify-end flex-1 text-red-500 text-base font-bold">
                                          -${{-1*transfer.credit}}
                                       </div>
                                        <div v-else
                                          class="ml-5 w-0 flex items-center justify-end flex-1 text-green-500 text-base font-bold">
                                          ${{transfer.credit}}
                                          </div>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
                           <h3 class="text-xl leading-none font-bold text-gray-900 mb-10">Orders in palce</h3>
                           <div class="block w-full overflow-x-auto">
                              <table class="items-center w-full bg-transparent border-collapse">
                                 <thead>
                                    <tr>
                                       <th
                                          class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap">
                                          Type</th>
                                       <th
                                          class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap">
                                          Amount</th>
                                       <th
                                          class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap min-w-140-px">
                                          Liquidation</th>
                                    </tr>
                                 </thead>
                                 <tbody class="divide-y divide-gray-100">
                                    <tr v-for="(order,i) in orders.slice(0, 20)" :key="i" 
                                     class="text-gray-500">
                                       <th
                                          class="border-t-0 px-4 align-middle text-sm font-normal whitespace-nowrap p-4 text-left">
                                          {{order.type}}
                                       </th>
                                       <td
                                          class="border-t-0 px-4 align-middle text-xs font-medium text-gray-900 whitespace-nowrap p-4">
                                          {{order.qty}}
                                       </td>
                                       <td class="border-t-0 px-4 align-middle text-xs whitespace-nowrap p-4">
                                          <div class="flex items-center">
                                             <span class="mr-2 text-xs font-medium">{{ order.liq}}</span>
                                             <div class="relative w-full">
                                                <div class="w-full bg-gray-200 rounded-sm h-2">
                                                   <div class="bg-blue-600 h-2 rounded-sm" v-bind:style="{ width: order.liq + '%' }"></div>
                                                </div>
                                             </div>
                                          </div>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </main>

            </div>





         </div>

      </div>
      </div>





   </main>

   <script>
      /*Toggle dropdown list*/
      function toggleDD(myDropMenu) {
         document.getElementById(myDropMenu).classList.toggle("invisible");
      }
      /*Filter dropdown options*/
      function filterDD(myDropMenu, myDropMenuSearch) {
         var input, filter, ul, li, a, i;
         input = document.getElementById(myDropMenuSearch);
         filter = input.value.toUpperCase();
         div = document.getElementById(myDropMenu);
         a = div.getElementsByTagName("a");
         for (i = 0; i < a.length; i++) {
            if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
               a[i].style.display = "";
            } else {
               a[i].style.display = "none";
            }
         }
      }
      // Close the dropdown menu if the user clicks outside of it
      window.onclick = function (event) {
         if (!event.target.matches('.drop-button') && !event.target.matches('.drop-search')) {
            var dropdowns = document.getElementsByClassName("dropdownlist");
            for (var i = 0; i < dropdowns.length; i++) {
               var openDropdown = dropdowns[i];
               if (!openDropdown.classList.contains('invisible')) {
                  openDropdown.classList.add('invisible');
               }
            }
         }
      }
   </script>

   <script src="/socket.io/socket.io.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


   <% if (env==='production' ) { %>
      <script src="/app.js"></script>
      <% } else { %>
         <script src="/app.js"></script>
         <% } %>
</body>


</html>