<!doctype html>
<html>

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <title>Wallet </title>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

   <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
   <!--Totally optional :) -->



   <link rel="stylesheet" href="/main.css">

   <link rel="stylesheet" href="/app.min.css">

   <link rel="icon" type="image/jpg" href="/image/logo.jpg">


</head>

<body>


   <main id="wallet" class="bg-gray-800 font-sans leading-normal tracking-normal mt-12">

      <!--Nav-->
      <nav class="bg-gray-800 pt-2 md:pt-1 pb-1 px-1 mt-0 h-auto fixed w-full z-20 top-0">

         <div class="flex flex-wrap items-center">
            <div class="flex flex-shrink md:w-1/3 justify-center md:justify-start text-white">
               <a href="">
                  <span class="text-xl pl-2">

                     Mcoin
                  </span>
               </a>
            </div>

            <div class="flex flex-1 md:w-1/3 justify-center md:justify-start text-white px-2">
               <span class="relative w-full">

               </span>
            </div>

            <div class="flex w-full pt-2 content-center justify-between md:w-1/3 md:justify-end">
               <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
                  <li class="flex-1 md:flex-none md:mr-3">
                     <a v-on:click.prevent="showMoney()" class="inline-block py-2 px-4 text-white no-underline"
                        href="">Balance : {{ showmoney ? balance.coin : balance.money}} {{ showmoney ?
                        "M" : "$" }}</a>
                  </li>
                  <li class="flex-1 md:flex-none md:mr-3">
                     <div class="relative inline-block">
                        <button onclick="toggleDD('myDropdown')" class="drop-button text-white focus:outline-none">
                           <span class="pr-2"></span> Hi, {{user.username}} <svg class="h-3 fill-current inline"
                              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                           </svg></button>
                        <div id="myDropdown"
                           class="dropdownlist absolute bg-gray-800 text-white right-0 mt-3 p-3 overflow-auto z-30 invisible">
                           <a href="#" v-on:click.prevent="switchCase('profile')" class
                              class="p-2 hover:bg-gray-800 text-white text-sm no-underline hover:no-underline block"><i
                                 class="fa fa-user fa-fw"></i> Profile</a>
                           <div class="border border-gray-800"></div>
                           <a href="/logout"
                              class="p-2 hover:bg-gray-800 text-white text-sm no-underline hover:no-underline block"><i
                                 class="fas fa-sign-out-alt fa-fw"></i> Log Out</a>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
         </div>

      </nav>


      <div class="flex flex-col md:flex-row">

         <div class="bg-gray-800 shadow-xl h-16 fixed bottom-0 mt-12 md:relative md:h-screen z-10 w-full md:w-48">

            <div
               class="md:mt-12 md:w-48 md:fixed md:left-0 md:top-0 content-center md:content-start text-left justify-between">
               <ul class="list-reset flex flex-row md:flex-col py-0 md:py-3 px-1 md:px-2 text-center md:text-left">
                  <li class="mr-3 flex-1">
                     <a href="/Dashboard"
                        class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-purple-500">
                        <i class="fas fa-chart-area pr-0 md:pr-3 text-gray-400"></i> <span
                           class="pb-1 md:pb-0 text-xs md:text-base text-white md:text-gray-400 block  block md:inline-block">
                           Dashboard</span>
                     </a>

                  </li>
                  <li class="mr-3 flex-1">
                     <a href="/wallet"
                        class="block py-1 md:py-3 pl-1 align-middle text-white no-underline text-white border-b-2 border-gray-800  border-red-600">
                        <i class="fa fa-wallet pr-0 md:pr-3 text-white"></i> <span
                           class="pb-1 md:pb-0 text-xs md:text-base text-white block md:inline-block">Wallet</span>
                     </a>
                  </li>
                  <li class="mr-3 flex-1">

                     <a href="/trade"
                        class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-purple-500">
                        <i class="fas fa-chart-area pr-0 md:pr-3 text-gray-400"></i> <span
                           class="pb-1 md:pb-0 text-xs md:text-base text-white md:text-gray-400 block  block md:inline-block">Trade</span>
                     </a>

                  </li>
                  <li class="mr-3 flex-1">

                     <a href="/Transaction"
                        class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800  hover:border-blue-600">
                        <i class="fa fa-wallet pr-0 md:pr-3 text-gray-400"></i> <span
                           class="pb-1 md:pb-0 text-xs md:text-base text-gray-400 block md:inline-block">Transaction</span>
                     </a>

                  </li>

               </ul>
            </div>


         </div>

         <div class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">

            <div class="bg-gray-800 pt-3">
               <div class="rounded-tl-3xl bg-gradient-to-r from-blue-600 to-blue-400 p-4 shadow text-2xl text-white">

                  <h3 class="font-bold pl-2">Wallet</h3>

               </div>
            </div>

            <div>
               <main>
                  <div v-if="transferDone"
                     class="min-w-screen h-screen animated fadeIn faster  fixed  left-0 top-0 flex justify-center items-center inset-0 z-50 outline-none focus:outline-none bg-no-repeat bg-center bg-cover"
                     id="modal-id">
                     <div class="absolute bg-black opacity-80 inset-0 z-0"></div>
                     <div class="w-full  max-w-lg p-5 relative mx-auto my-auto rounded-xl shadow-lg  bg-white ">
                        <!--content-->
                        <div class="">
                           <!--body-->
                           <div class="text-center p-5 flex-auto justify-center">

                              <svg xmlns="http://www.w3.org/2000/svg"
                                 class="w-24 h-24 -m-1 flex items-center text-red-500 mx-auto"
                                 viewBox="0 0 512.065 332.845">
                                 <g id="_2e66bd29-39ca-4e96-a756-5bc9fa43d7c8"
                                    data-name="2e66bd29-39ca-4e96-a756-5bc9fa43d7c8" transform="translate(0 -89.6)">
                                    <path id="Path_1" data-name="Path 1"
                                       d="M332.8,256A166.4,166.4,0,1,0,166.4,422.4,166.4,166.4,0,0,0,332.8,256ZM180.57,317.88v8c0,5.22-1.68,6.9-6.9,6.9H159.51c-5,0-6.9-1.68-6.9-6.9v-7.64c-18.27-2.8-30.2-11.93-36-27.22q-2.52-7.27,5-10.06l12.68-4.48c5.41-2,8-.93,10.44,4.48,3,7.64,9.88,11.37,20.51,11.37,14.17,0,21.25-3.92,21.25-11.94,0-7.45-7.27-9.88-22-11.37-10.44-1.31-15.85-1.87-25.36-5.59a32.34,32.34,0,0,1-11.55-6.52c-5.78-5-10.63-14.54-10.63-26.65,0-19.58,12.49-33,35.61-36.72v-7.65c0-5,1.86-6.71,6.9-6.71h14.17c5.22,0,6.9,1.68,6.9,6.71v7.65c15.1,2.61,25.73,10.62,32.06,24.23,2.8,5.22,1.49,8-4.29,10.44L195.49,234c-5,2.24-7.46,1.49-10.26-3.73-3.73-7.27-8.57-10.81-18.82-10.81-13.23,0-18.83,2.8-18.83,10.81,0,6.9,7.83,9.51,22.18,11A129.808,129.808,0,0,1,191,244.81a36.371,36.371,0,0,1,10.07,4.29c8.39,5,16.4,14.72,15.66,30.76C216.74,299.8,203.69,313.6,180.57,317.88Z"
                                       fill="#141f38" />
                                    <path id="Path_2" data-name="Path 2"
                                       d="M345.6,89.6a165.87,165.87,0,0,0-64,12.78,192,192,0,0,1,0,307.24,166.41,166.41,0,1,0,64-320Z"
                                       fill="#141f38" />
                                 </g>
                              </svg>


                              <h2 class="text-xl font-bold py-4 ">Succesful Transfer</h3>
                                 <p class="text-sm text-gray-500 px-8">The Current Balance is <strong
                                       class="font-bold"> {{balance.coin}}
                                 </p>
                           </div>
                           <!--footer-->
                           <div class="p-3  mt-2 text-center space-x-4 md:block">
                              <button v-on:click.prevent="okDone"
                                 class="mb-2 md:mb-0 bg-green-500 border border-green-500 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-full hover:shadow-lg hover:bg-green-600">Ok</button>
                           </div>
                        </div>
                     </div>
                  </div>


                  <div v-if="AskMe"
                     class="min-w-screen h-screen animated fadeIn faster  fixed  left-0 top-0 flex justify-center items-center inset-0 z-50 outline-none focus:outline-none bg-no-repeat bg-center bg-cover"
                     id="modal-id">
                     <div class="absolute bg-black opacity-80 inset-0 z-0"></div>
                     <div class="w-full  max-w-lg p-5 relative mx-auto my-auto rounded-xl shadow-lg  bg-white ">
                        <!--content-->
                        <div class="">
                           <!--body-->
                           <div class="text-center p-5 flex-auto justify-center">

                              <svg xmlns="http://www.w3.org/2000/svg"
                                 class="w-24 h-24 -m-1 flex items-center text-red-500 mx-auto"
                                 viewBox="0 0 512.065 332.845">
                                 <g id="_2e66bd29-39ca-4e96-a756-5bc9fa43d7c8"
                                    data-name="2e66bd29-39ca-4e96-a756-5bc9fa43d7c8" transform="translate(0 -89.6)">
                                    <path id="Path_1" data-name="Path 1"
                                       d="M332.8,256A166.4,166.4,0,1,0,166.4,422.4,166.4,166.4,0,0,0,332.8,256ZM180.57,317.88v8c0,5.22-1.68,6.9-6.9,6.9H159.51c-5,0-6.9-1.68-6.9-6.9v-7.64c-18.27-2.8-30.2-11.93-36-27.22q-2.52-7.27,5-10.06l12.68-4.48c5.41-2,8-.93,10.44,4.48,3,7.64,9.88,11.37,20.51,11.37,14.17,0,21.25-3.92,21.25-11.94,0-7.45-7.27-9.88-22-11.37-10.44-1.31-15.85-1.87-25.36-5.59a32.34,32.34,0,0,1-11.55-6.52c-5.78-5-10.63-14.54-10.63-26.65,0-19.58,12.49-33,35.61-36.72v-7.65c0-5,1.86-6.71,6.9-6.71h14.17c5.22,0,6.9,1.68,6.9,6.71v7.65c15.1,2.61,25.73,10.62,32.06,24.23,2.8,5.22,1.49,8-4.29,10.44L195.49,234c-5,2.24-7.46,1.49-10.26-3.73-3.73-7.27-8.57-10.81-18.82-10.81-13.23,0-18.83,2.8-18.83,10.81,0,6.9,7.83,9.51,22.18,11A129.808,129.808,0,0,1,191,244.81a36.371,36.371,0,0,1,10.07,4.29c8.39,5,16.4,14.72,15.66,30.76C216.74,299.8,203.69,313.6,180.57,317.88Z"
                                       fill="#141f38" />
                                    <path id="Path_2" data-name="Path 2"
                                       d="M345.6,89.6a165.87,165.87,0,0,0-64,12.78,192,192,0,0,1,0,307.24,166.41,166.41,0,1,0,64-320Z"
                                       fill="#141f38" />
                                 </g>
                              </svg>


                              <h2 class="text-xl font-bold py-4 ">Are you sure?</h3>
                                 <p class="text-sm text-gray-500 px-8">Do you really want to Send <strong
                                      >{{TransferOrder.qty}} </strong>To <strong > {{TransferOrder.To}}
                                    </strong>,
                                    This process cannot be undone</p>
                           </div>
                           <!--footer-->
                           <div class="p-3  mt-2 text-center space-x-4 md:block">
                              <button v-on:click.prevent="askMe"
                                 class="mb-2 md:mb-0 bg-white px-5 py-2 text-sm shadow-sm font-medium tracking-wider border text-gray-600 rounded-full hover:shadow-lg hover:bg-gray-100">
                                 Cancel
                              </button>
                              <button id="sendbtn" v-on:click.prevent="checkOrderForm"
                                 class="mb-2 md:mb-0 bg-red-500 border border-red-500 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-full hover:shadow-lg hover:bg-red-600">Send</button>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="w-full mt-5 flex items-center justify-center px-5 py-5">
                     <div class="bg-white text-gray-800 rounded-xl shadow-lg overflow-hidden relative flex">
                        <div class="bg-white h-full w-full px-5 pt-6 pb-20 overflow-y-auto">
                           <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
                           </div><br>
                           <center>
                              <div id="empty-cover-art"
                                 class="shadow-md py-5 h-40 rounded w-64 bg-blue-100 text-center opacity-50 md:border-solid md:border-2 md:border-blue-800">
                                 <center><img
                                       src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Ethereum-icon-purple.svg/1200px-Ethereum-icon-purple.svg.png"
                                       class="h-16 "></center>
                                 <div class="">
                                    <span class="font-mono bg-white rounded"> Address: <strong>{{user.userID}}</strong> </span>
                                    <br>
                                    <span class="font-mono bg-white rounded">Account: <strong>{{user.username}}</strong></span>

                                 </div>
                              </div>
                              <br><strong>My Balance</strong><br>
                              <div class="flex flex-wrap justify-center space-x-3">
                                 <option v-on:click.prevent="swicthCase(1)"  value="1"
                                    class="flex items-center justify-center w-24 h-24 bg-gray--100 text-gray-600 hover:bg-blue-500 transition duration-150 rounded-full font-bold hover:text-blue-50 cursor-pointer">
                                    {{balance.coin}} Mcoin</option>
                                 <option v-on:click.prevent="swicthCase(2)" value="2"
                                    class="flex items-center justify-center  w-24 h-24 bg-gray--100 text-gray-600 hover:bg-blue-500 transition duration-150 rounded-full font-bold hover:text-blue-50 cursor-pointer">
                                    {{balance.money}} $ </option>
                              </div>
                              <br>

                              <div class="flex-col items-center ">
                                 <div class="w-full mx-auto ">
                                    <div class="bg-white p-10 rounded-xl">
                                       <h1 class="text-center text-2xl font-semibold text-gray-500">How much would you
                                          like to send?
                                       </h1>
                                       <div class="flex flex-wrap justify-center mt-10 space-x-3">
                                          <option v-on:click.prevent="qtyUpdate(10)" value="1"
                                             class="flex items-center justify-center w-24 h-24 bg-gray--100 text-gray-600 hover:bg-green-500 transition duration-150 rounded-full font-bold hover:text-green-50 cursor-pointer">
                                             10</option>
                                          <option v-on:click.prevent="qtyUpdate(25)" value="2"
                                             class="flex items-center justify-center  w-24 h-24bg-gray--100 text-gray-600 hover:bg-green-500 transition duration-150 rounded-full font-bold hover:text-green-50 cursor-pointer">
                                             25</option>
                                          <option v-on:click.prevent="qtyUpdate(50)" value="3"
                                             class="flex items-center justify-center  w-24 h-24 bg-gray--100 text-gray-600 hover:bg-green-500 transition duration-150 rounded-full font-bold hover:text-green-50 cursor-pointer">
                                             50</option>
                                          <option v-on:click.prevent="qtyUpdate(75)" value="4"
                                             class="flex items-center justify-center  w-24 h-24 bg-gray--100 text-gray-600 hover:bg-green-500 transition duration-150 rounded-full font-bold hover:text-green-50 cursor-pointer">
                                             75</option>
                                          <option v-on:click.prevent="qtyUpdate(100)" value="5"
                                             class="flex items-center justify-center  w-24 h-24 bg-gray--100 text-gray-600 hover:bg-green-500 transition duration-150 rounded-full font-bold hover:text-green-50 cursor-pointer">
                                             100</option>
                                          <option v-on:click.prevent="qtyUpdate(500)" value="6"
                                             class="flex items-center justify-center  w-24 h-24 bg-gray--100 text-gray-600 hover:bg-green-500 transition duration-150 rounded-full font-bold hover:text-green-50 cursor-pointer">
                                             500</option>

                                       </div>
                                       <form class="mt-8" @submit="askMe">
                                          <div class="flex mb-3 justify-center border-2 py-2 px-6 rounded-xl">
                                             <input v-model="TransferOrder.qty" type="number" placeholder="Amount"
                                                class="text-center outline-none text-gray-700 text-lg" />

                                          </div>
                                          <div v-if = "SendCoin" class="flex justify-center border-2 py-2 px-6 rounded-xl">
                                             <input v-model="TransferOrder.To" type="text" placeholder="Adresse"
                                                class="w-full outline-none text-gray-700 text-lg" />
                                             <button type="submit"
                                                class="bg-green-500 text-green-50 font-semibold px-6 py-2 rounded-xl text-md">Send</button>
                                          </div>
                                          <div  v-if = "SendMoney"  class="flex justify-center border-2 py-2 px-6 rounded-xl">
                                             <input v-model="TransferOrder.To" type="text" placeholder="Account"
                                                class="w-full outline-none text-gray-700 text-lg" />
                                             <button  type="submit"
                                                class="bg-green-500 text-green-50 font-semibold px-6 py-2 rounded-xl text-md">Send</button>
                                          </div>
                                          <span
                                             class="text-center block mt-6 text-gray-400 text-xl font-semibold">Amount
                                             must be at leat 10 Coins/StableCoin</span>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                        </div>

                        </center>

                     </div>

                  </div>


               </main>
            </div>





         </div>

      </div>
      </div>





   </main>

   <script>
      /*Toggle dropdown list*/
      function toggleDD(myDropMenu) {
         document.getElementById(myDropMenu).classList.toggle("invisible");
      }
      /*Filter dropdown options*/
      function filterDD(myDropMenu, myDropMenuSearch) {
         var input, filter, ul, li, a, i;
         input = document.getElementById(myDropMenuSearch);
         filter = input.value.toUpperCase();
         div = document.getElementById(myDropMenu);
         a = div.getElementsByTagName("a");
         for (i = 0; i < a.length; i++) {
            if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
               a[i].style.display = "";
            } else {
               a[i].style.display = "none";
            }
         }
      }
      // Close the dropdown menu if the user clicks outside of it
      window.onclick = function (event) {
         if (!event.target.matches('.drop-button') && !event.target.matches('.drop-search')) {
            var dropdowns = document.getElementsByClassName("dropdownlist");
            for (var i = 0; i < dropdowns.length; i++) {
               var openDropdown = dropdowns[i];
               if (!openDropdown.classList.contains('invisible')) {
                  openDropdown.classList.add('invisible');
               }
            }
         }
      }
   </script>

   <script src="/socket.io/socket.io.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


   <% if (env==='production' ) { %>
      <script src="/app.min.js"></script>
      <% } else { %>
         <script src="/app.min.js"></script>
         <% } %>
</body>


</html>